<div class="body-section">
    <div class="w-container terms-container">
        <div>
            <div class="w-row">
                <div class="w-col w-col-8">
                    <h1>Privacy Policy</h1>
                    <div class="subhead-text inner">Please read through our Privacy Policy carefully.</div>
                </div>
                <div class="w-col w-col-4"></div>
            </div>
        </div>
        <div>
            <div class="section-head-terms">Last Updated: 2015/02/24</div>
        </div>
        <div>
            <div class="section-head-terms">1. Introduction</div>
            <div class="section-body-terms">This Privacy Policy explains how information about you is collected, used and disclosed by MyMonero ("we" or "us"). This Privacy Policy (together with our Terms of Service and any other documents referred to therein or herein) applies to information we collect when you use our websites, mobile applications, hosted Monero accounts and other online products and services (collectively, the "Services") or when you otherwise interact with us.</div>
            <div class="section-body-terms">We may change this Privacy Policy from time to time. If we make changes, we will notify you by revising the date at the top of the policy and, in some cases, we may provide you with additional notice such as by adding a statement to on our blog or by sending you an email notification. We encourage you to review the Privacy Policy whenever you access the Services to stay informed about our information practices and the ways you can help protect your privacy.</div>
        </div>
        <div>
            <div class="section-head-terms">2. Collection of Information</div>
            <div class="section-body-terms"><strong>Information You Provide to Us - </strong>We collect information you provide directly to us. For example, we collect information when you create an account, participate in any interactive features of the Services, fill out a form, complete a Monero transaction via the Services, request customer support or otherwise communicate with us. The types of information we may collect include your email address, Monero address, OpenAlias aliases, password, mobile phone number, mobile PIN code and any other information you choose to provide.</div>
            <div class="section-body-terms"><strong>Information We Collect Automatically When You Use the Services - </strong>When you access or use our Services, we automatically collect information about you, including:
            <ul>
            	<li>Log Information: We may log information about your use of the Services, including the type of browser you use, access times, pages viewed, your IP address and the page you visited before navigating to our websites.</li>
            	<li>Device Information: We may collect information about the mobile device you use to access our mobile application, including the hardware model, operating system and version, unique device identifiers and mobile network information.</li>
            	<li>Information Collected by Cookies and Other Tracking Technologies: We use various technologies to collect information, and this may include sending cookies to your computer or mobile device. Cookies are small data files stored on your hard drive or in device memory that help us to improve our Services and your experience, see which areas and features of our Services are popular and count visits. Please note that disabling cookies will break the session functionality that is required by the hosted Monero account service.</li>
            	<li>Account Address Information: When you create an account through our Services, a view key is automatically generated and stored via our Services. We do not ever store or know your private spend key, which means that it is cryptographically impossible for us to spend funds on your behalf.</li>
            	<li>Information We Collect From Other Sources: We may also obtain information from other sources and combine that with information we collect through our Services. For instance, as and when we implement a live chat support system we may collect information provided by you during the use of this system, such as your name and email address. We may also use third-party services branded as MyMonero. Any third-party services may collect information as determined by their own privacy policies.</li>
            </ul>
            </div>
        </div>
        <div>
            <div class="section-head-terms">3. Use of Information</div>
            <div class="section-body-terms">We may use information about you for various purposes, including to:
            <ul>
            	<li>Provide, maintain and improve our Services;</li>
            	<li>Provide and deliver the services you request, facilitate Monero transactions and send you related information, including confirmations;</li>
            	<li>Send you technical notices, updates, security alerts, authentication codes and support and administrative messages;</li>
            	<li>Respond to your comments, questions and requests and provide customer service;</li>
            	<li>Communicate with you about products, services, offers, promotions, rewards, and events offered by us and others, and provide news and information we think will be of interest to you via email or push notifications. We will provide an unsubscribe option on within these notifications.</li>
            	<li>Monitor and analyze trends, usage and activities in connection with our Services in an aggregate and anonymous manner;</li>
            	<li>Process and deliver contest entries and rewards;</li>
            	<li>Link or combine with information we get from others to help understand your needs and provide you with better service; and</li>
            	<li>Carry out any other purpose for which you provided the information.</li>
            </ul>
            </div>
        </div>
        <div>
            <div class="section-head-terms">4. Sharing of Information</div>
            <div class="section-body-terms">We may share information about you as follows or as otherwise described in this Privacy Policy:
            <ul>
            	<li>With the Monero Network, we will share your public account address and any transaction details to facilitate any transaction request you submit via the Services;</li>
            	<li>With vendors, consultants and other service providers who need access to such information to carry out work on our behalf; it is our practice to require such parties to handle the information in a manner consistent with our policies;</li>
            	<li>In response to a request for information if we believe disclosure is in accordance with, or as otherwise required by, any applicable law, regulation or legal process;</li>
            	<li>If we believe your actions are inconsistent with the spirit or language of our user agreements or policies, or to protect the rights, property and safety of us or others;</li>
            	<li>In connection with, or during negotiations of, any merger, sale of our assets, financing or acquisition of all or a portion of our business to another company; and</li>
            	<li>With your consent or at your direction, including if we notify you through our Services that the information you provide will be shared in a particular manner and you provide such information.</li>
            </ul>
            We may also share aggregated or de-identified information, which cannot reasonably be used to identify you.
            </div>
        </div>
        <div>
            <div class="section-head-terms">5. Security</div>
            <div class="section-body-terms">We take reasonable measures to help protect information about you from loss, theft, misuse and unauthorized access, disclosure, alteration and destruction.</div>
        </div>
        <div>
            <div class="section-head-terms">6. Your Choices</div>
            <div class="section-body-terms"><strong>Account Information - </strong>You may update, correct or delete information about you or your account at any time by logging into your online account.</div>
            <div class="section-body-terms"><strong>Push Notifications - </strong>As and when this functionality becomes available, and only with your consent, we may send standard push notifications or alerts to your mobile device. You can deactivate these messages at any time by changing the notification settings on your mobile device.</div>
            <div class="section-body-terms"><strong>Promotional Communications - </strong>You may opt out of receiving promotional messages from us by following the instructions in those messages. If you opt out, we may still send you transactional or relationship messages, such as those about your account or our ongoing business relations.</div>
        </div>
        <div>
            <div class="section-head-terms">7. Contact Us</div>
            <div class="section-body-terms">If you have any questions about this Privacy Policy, please contact us at info@mymonero.com</div>
        </div>
    </div>
</div>