<div class="body-section steps-page security">
  <div class="header-section">
    <div class="w-container home-container">
      <div class="home-header">Protect your Wallet now</div>
      <div class="home-subhead">
		Chrome automatically updates your browser extensions. This can compromise your wallet.<br>
		Please disable automatic updates for this extension now and only update if it is broken.<br>
	  </div>
      <a class="create-account-btn" href="http://stackoverflow.com/a/27657703/1424378">Find out how</a>
    </div>
  </div>
</div>
